@model IEnumerable<UPC.TP2.WEB.Models.T_PLAN_DE_SALUD>

@{
    ViewBag.Title = "Index";
}

<h2>LISTADO DE PLANES DE SALUD</h2>

<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.id_plan_salud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_plan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.objetivo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {

    <tr>
        <td>
           @Html.DisplayFor(modelItem => item.id_plan_salud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_plan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.objetivo)
        </td>
        <td>
            @Html.ActionLink("Crear", "Create")|
            @Html.ActionLink("Actualizar", "Edit", new { id=item.id_plan_salud }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id_plan_salud })
        </td>
    </tr>
    </div>
}
    

</table>
